:root {   
	--primary-color: #1090AC;
	--primary-color-hover: #226f71;
	--danger-color: #EB5757;
	--danger-color-hover: #ee7575;
	--border-color: rgba(0,0,0,.04);
	--default-color: #313233;
	--default-color-8: #595a5a;
	--default-color-6: #818182;
	--default-color-4: #a8a9a9;
	--default-color-2: #d0d0d1;
	--default-color-1: #e4e4e4;

	--base-background-color: #ECF0F3;
	--header-background-color:#1090AC;
	--header-height: 64px;
	--menu-width: 300px;

	--skeleton-root: #dadada;
	--skeleton-animation: linear-gradient(90deg, rgba(255,255,255, 0) 0, rgba(255,255,255, .2) 25%, rgba(255,255,255, .3) 50%, rgba(255,255,255, .2) 75%, rgba(255,255,255, .0) 100%);;
	
}

* { padding: 0;margin: 0;box-sizing: border-box;outline: 0; }

/* @font-face */

body {
    font-size: 16px;
	font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased !important;    
	
    overflow-x: hidden !important; 
	color: var(--default-color);	
}

img { display: block;max-width: 100%;height: auto; } 
select { -webkit-appearance: none;-moz-appearance: none;appearance: none;cursor:pointer; }    
input { -webkit-appearance: none;-moz-appearance: none;appearance: none;cursor:pointer;border: 0;background: transparent; }
textarea { -webkit-appearance: none;-moz-appearance: none;appearance: none;cursor:pointer;border: 0;background: transparent;resize: none; }

a { text-decoration: none;transition: all .2s ease;color:var(--primary-color); }
a:hover { text-decoration: none;color:var(--primary-color-hover); }
a.underline { text-decoration: underline; }
a.underline:hover { text-decoration: none; }

b, strong { font-weight: bold !important; }

h1,
h2,
h3,
h4 { font-family: 'Montserrat', sans-serif; }

.MuiPaper-root { color: var(--default-color) !important; }

#root { position: relative;min-height: 100vh;background-color: var(--base-background-color);padding-top: var(--header-height);overflow-x: hidden; } 
.topo { position: fixed;top: 0;left: 0;width: 100%;height: var(--header-height);background-color: var(--header-background-color);box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);z-index: 10; }
.topo h1 { font-family: 'Montserrat', sans-serif;font-weight: 500; }
.topo-left { width: 64px; }
.topo-right { width: 64px; }
.conteudo { position: relative;min-height: 100%;z-index: 5;flex-grow: 1; }

.menu { width: var(--menu-width);height: 100%;overflow-y: auto; }
.menu a { color: var(--default-color-8);display: block;padding: 15px 10px 15px 14px;transition: all .3s ease;font-family: 'Montserrat', sans-serif;font-weight: 500;  }
.menu a:hover { color: var(--primary-color); background-color: #f8f8f8; }
.menu a.active { color: var(--primary-color); padding: 15px 10px;border-left: 4px solid var(--primary-color); }

.font-10 { font-size:.5675rem !important; }
.font-11 { font-size:.6875rem !important; }
.font-12 { font-size:.7825rem !important; }
.font-13 { font-size:.8125rem !important; } 
.font-14 { font-size:.875rem !important; }
.font-16 { font-size:1rem !important; }
.font-18 { font-size:1.125rem !important; }
.font-20 { font-size:1.25rem !important; }
.font-22 { font-size:1.30rem !important; }
.font-24 { font-size:1.5rem !important; }
.font-28 { font-size:1.75rem !important; }
.font-32 { font-size:2rem !important; }
.font-40 { font-size:2.5rem !important; }
.font-48 { font-size:3rem !important; }

.line-height-100 { line-height:100% !important; }
.line-height-110 { line-height:110% !important; }
.line-height-120 { line-height:120% !important; }
.line-height-130 { line-height:130% !important; }
.line-height-140 { line-height:140% !important; }
.line-height-150 { line-height:150% !important; }
.line-height-160 { line-height:160% !important; }
.line-height-170 { line-height:170% !important; }
.line-height-180 { line-height:180% !important; }
.line-height-190 { line-height:190% !important; }
.line-height-200 { line-height:200% !important; }
.line-height-310 { line-height:310% !important; }

.scale-100 { transform:scale(1.0) }
.scale-110 { transform:scale(1.1) }
.scale-120 { transform:scale(1.2) }
.scale-130 { transform:scale(1.3) }
.scale-140 { transform:scale(1.4) }
.scale-150 { transform:scale(1.5) }
.scale-160 { transform:scale(1.6) }
.scale-170 { transform:scale(1.7) }
.scale-180 { transform:scale(1.8) }

.primary-color { color: var(--primary-color); }
.white-color { color: #FFFFFF; }
.white-color-75 { color: rgba(255, 255, 255, .75); }
.white-color-50 { color: rgba(255, 255, 255, .5); }
.white-color-30 { color: rgba(255, 255, 255, .3); }
.black-color { color: #000000 !important; }
.black-color-75 { color: rgba(0, 0, 0, .75) !important; }
.black-color-50 { color: rgba(0, 0, 0, .5) !important; }
.black-color-30 { color: rgba(0, 0, 0, .3) !important; }

.default-color { color: var(--default-color) !important; }
.default-color-8 { color: var(--default-color-8) !important; }
.default-color-6 { color: var(--default-color-6) !important; }
.default-color-4 { color: var(--default-color-4) !important; }
.default-color-2 { color: var(--default-color-2) !important; }
.default-color-1 { color: var(--default-color-1) !important; }

.primary-bg { background-color: var(--primary-color) !important; }
.white-bg { background-color: #FFFFFF !important; }

.btn-primary { background-color: var(--primary-color) !important;color: #FFF !important; }

.border-color { border-color: var(--border-color); }

::-webkit-input-placeholder { color: rgba(0, 0, 0, .3) !important; }  
:-ms-input-placeholder { color: rgba(0, 0, 0, .3) !important; }  
::placeholder { color: rgba(0, 0, 0, .3) !important; }

.tabela { background-color: transparent;box-shadow: none !important;overflow: unset !important; }
.tabela > table { border-collapse: separate !important;border-spacing: 0 1rem !important; } 
.tabela > table > thead > tr th { background-color: transparent;padding: 15px 25px;color: var(--default-color) !important; }
.tabela > table > tbody > tr { -webkit-box-shadow: 0 4px 20px 0 rgba(205,221,228,.6);box-shadow: 0 4px 20px 0 rgba(205,221,228,.6);transition: transform .3s ease, box-shadow .3s ease; }
.tabela > table > tbody > tr:not(.desativado):hover { transform: translateY(-4px); }
.tabela > table > tbody > tr > td { color: var(--default-color-8) !important;position: relative;background-color: #FFF !important;border-top: 1px solid #FFF;border-bottom: 1px solid #FFF;transition: background-color .3s ease, border-color .3s ease; }
.tabela > table > tbody > tr > td b { color: var(--default-color) !important; }
/*.tabela > table > tbody > tr > td::after { position: absolute;top: 50%;right: 0;content: '';width: 1px;height: 75%;background-color: rgba(232,238,239,0.6);transform: translate(0,-50%); }*/
.tabela > table > tbody > tr > td:first-child { border-top-left-radius: .5rem;border-bottom-left-radius: .5rem;border-left: 1px solid #FFF; }
.tabela > table > tbody > tr > td:last-child { border-top-right-radius: .5rem;border-bottom-right-radius: .5rem;border-right: 1px solid #FFF; }
.tabela > table > tbody > tr > td td { padding: 5px !important;border-bottom: 2px solid #e8eeef !important;transition: border-color .3s ease; }

.tabela > table > tbody > tr.desativado { -webkit-box-shadow: 0 0 0 0 rgba(205,221,228,.9);box-shadow: 0 0 0 0 rgba(205,221,228,.9); }
.tabela > table > tbody > tr.desativado > td { background-color: rgba(235,235,235,.5) !important;border-color: rgba(235,235,235,1) !important; }

.tabela > table > tbody > tr.desativado > td td { border-color: #d4d4d4 !important; }

.actions-container { position: fixed;bottom: 0;right: 0;z-index: 50;z-index: 10; }
.actions-container button { border-radius: 50%;box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12); }
.actions-container button.adicionar { background-color: #28a745 !important; }
.actions-container button.filtrar { background-color: #007bff !important; }

.border { border: 1px solid var(--border-color); }
.border-bottom { border-bottom: 1px solid var(--border-color); }
.border-top { border-top: 1px solid var(--border-color); }

.text-uppercase { text-transform: uppercase !important; }

.lista-produtos { border-color: rgba(0,0,0,.14); }
.lista-produtos .item { position: relative;padding-right: 100px !important;border-bottom: 1px solid var(--border-color);background-color:#FFF;margin-bottom: 3px; }
.lista-produtos .item:last-child { margin-bottom: 0; }
.lista-produtos .action { position: absolute;top: 0;right: 0;height: 100%; }
.lista-produtos .action::before { position: absolute;content: '';top: 50%;left: 0;width: 1px;height: 15px;background-color: var(--border-color);transform: translate(0, -50%); }

.skeleton-root { position: relative;height: 1.2em;background-color: var(--skeleton-root);overflow: hidden; }
.skeleton-root::before { position: absolute;top: 0;left: 0;width: 50%;height: 100%;content: '';background-image: var(--skeleton-animation);animation: skeleton-animation 1.5s ease-out infinite; }                    
.skeleton-absolute { position: absolute !important;top: 0;left: 0;width: 100% !important;height: 100% !important; }
@keyframes skeleton-animation {
	from { transform: translateX(-100%); }
	to { transform: translateX(250%); }
}

.modal .modal-header { text-transform: uppercase;height: var(--header-height);background-color: var(--header-background-color);box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);z-index: 10; }
.modal .modal-body { overflow-x: hidden;overflow-y: auto;background-color: var(--base-background-color); }

.modal-produtos .produtos > div { border-bottom: 1px solid var(--border-color);background-color:#f5f5f5;margin-bottom: 3px; }
.modal-produtos .produtos > div:last-of-type { border: 0 !important;margin-bottom: 0 !important; }
.modal-produtos .produtos .qtde { min-width: 120px; }

.modal-default .lista-produtos .item { background-color:#f5f5f5; }
.modal-default .modal-header { position: relative;min-height: 45px;padding-right: 50px; }
.modal-default .modal-close { position: absolute;top: 50%;right: 0;transform: translate(0,-50%); }

.modal-default .lista-produtos .item { padding-right: .5rem !important; }

.rounded { border-radius: .25rem !important; }
.text-center { text-align: center !important; }
.text-italic { font-style: italic !important; }

.lista { padding: 0;margin: 0;display: block; }
.lista li { display: block;border-radius: 6px;background-color: #FFF;border: 1px solid #FFF;box-shadow: 0 4px 20px 0 rgba(205,221,228,.6);transition: all .3s ease;margin-bottom: 20px; }
.lista li:last-of-type { margin-bottom: 120px !important; }
.lista li.desativado { box-shadow: 0 0 0 0 rgba(205,221,228,.9);background-color: rgba(235,235,235,.5) !important;border-color: #dadada !important; }
.lista .lista-header h2 { text-transform: uppercase; }
.lista .lista-header,
.lista-footer { min-height: 45px; }

.lista .lista-body > div { border-bottom: 1px solid var(--border-color); }
.lista .lista-body > div:last-of-type { border-bottom: 0 !important; }

.lista .lista-footer > div { position: relative; }
.lista .lista-footer > div::after { content: '';position: absolute;top: 50%;right: 0;width: 1px;height: 70%;background-color: var(--border-color);transform: translate(0, -50%); }
.lista .lista-footer > div:last-of-type::after { display: none; }

.lista .data { color:#28a745 }
.lista .data.warning { color: #ffc107; }
.lista .data.danger { color: #dc3545; }

.MuiDialog-paperFullWidth { width: calc(100% - 34px) !important; }
.MuiDialog-paper { margin: 12px !important; }

.search-wrapper { position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: -1; }
.search-wrapper.active { z-index: 20; }
.search-wrapper::before { position: absolute;top: 0;left: 0;width: 100%;height: 100%;content: '';background: rgba(0,0,0,.7);opacity: 0;transition: opacity .3s ease;z-index: 1; }
.search-wrapper.active::before { opacity: 1; }

.search-container { position: absolute;top: 0;left: 0;width: 100%;height: 64px;background-color: #FFF;transform: translate(0, -100%);transition: transform .3s ease;z-index: 10; }
.active .search-container { transform: translate(0,0); }
.search-container input { display: block;width: 100%;height: 100%;border: 0;background: transparent;padding: 10px 50px 10px 10px;box-sizing: border-box; }
.search-container .btn-pesquisar { position: absolute;top: 50%;right: 0;transform: translate(0, -50%); }
.search-wrapper .btn-fechar { position: relative;display: block;width: 100%;height: 100%;background: transparent;border: 0;z-index: 5; }

.relatorios .item { position: relative;display: block;border-radius: 6px;background-color: #FFF;border: 1px solid #FFF;box-shadow: 0 4px 20px 0 rgba(205,221,228,.6);margin-bottom: 20px;overflow: hidden; }
.relatorios .item .icone { position: absolute;top: 50%;right: 0;transform: translate(35%, -50%) rotate(-25deg);opacity: .15; }

.MuiDialog-paperFullScreen { margin: 0 !important; }

@media (min-width: 768px) { /* COL MD */

	.font-md-11 { font-size:.6875rem !important; /* 11px */ }
	.font-md-13 { font-size:.8125rem !important; /* 13px */ }
	.font-md-14 { font-size:.875rem !important; /* 14px */ }
	.font-md-16 { font-size:1rem !important; /* 16px */ }
	.font-md-18 { font-size:1.125rem !important; /* 18px */ }
	.font-md-20 { font-size:1.25rem !important; /* 20px */ }
	.font-md-24 { font-size:1.5rem !important; /* 24px */ }
	.font-md-28 { font-size:1.75rem !important; /* 28px */ }
	.font-md-32 { font-size:2rem !important; /* 32px */ }
    .font-md-40 { font-size:2.5rem !important; /* 40px */ }	    
}

@media (min-width: 992px) { /* COL LG */

	.font-lg-11 { font-size:.6875rem !important; /* 11px */ }
	.font-lg-13 { font-size:.8125rem !important; /* 13px */ }
	.font-lg-14 { font-size:.875rem !important; /* 14px */ }
	.font-lg-16 { font-size:1rem !important; /* 16px */ }
	.font-lg-18 { font-size:1.125rem !important; /* 18px */ }
	.font-lg-20 { font-size:1.25rem !important; /* 20px */ }
	.font-lg-24 { font-size:1.5rem !important; /* 24px */	 }
	.font-lg-28 { font-size:1.75rem !important; /* 28px */ }
	.font-lg-32 { font-size:2rem !important; /* 32px */ }
	.font-lg-40 { font-size:2.5rem !important; /* 40px */ }

}

@media (min-width: 1200px){ /* COL XL */	

	.font-xl-11 { font-size:.6875rem !important; /* 11px */ }
	.font-xl-13 { font-size:.8125rem !important; /* 13px */ }
	.font-xl-14 { font-size:.875rem !important; /* 14px */ }
	.font-xl-16 { font-size:1rem !important; /* 16px */ }
	.font-xl-18 { font-size:1.125rem !important; /* 18px */ }
	.font-xl-20 { font-size:1.25rem !important; /* 20px */ }
	.font-xl-24 { font-size:1.5rem !important; /* 24px */	 }
	.font-xl-28 { font-size:1.75rem !important; /* 28px */ }
	.font-xl-32 { font-size:2rem !important; /* 32px */ }
	.font-xl-40 { font-size:2.5rem !important; /* 40px */ }	
}

/* Toastify */
.Toastify__toast-container{z-index:9999;transform:translateZ(9999px);position:fixed;padding:4px;width:320px;box-sizing:border-box;color:#fff;}
.Toastify__toast-container--top-left{top:1em;left:1em}
.Toastify__toast-container--top-center{top:1em;left:50%;margin-left:-160px}
.Toastify__toast-container--top-right{top:1em;right:1em}
.Toastify__toast-container--bottom-left{bottom:1em;left:1em}
.Toastify__toast-container--bottom-center{bottom:1em;left:50%;margin-left:-160px}
.Toastify__toast-container--bottom-right{bottom:1em;right:1em;}
@media only screen and (max-width:480px){
	.Toastify__toast-container{width:100vw;padding:0;left:0;margin:0;}
	.Toastify__toast-container--top-center,.Toastify__toast-container--top-left,.Toastify__toast-container--top-right{top:0}
	.Toastify__toast-container--bottom-center,.Toastify__toast-container--bottom-left,.Toastify__toast-container--bottom-right{bottom:0}
	.Toastify__toast-container--rtl{right:0;left:auto}
}
.Toastify__toast{position:relative;min-height:64px;box-sizing:border-box;margin-bottom:1rem;padding:8px 15px;border-radius:6px;box-shadow:0 1px 10px 0 rgba(0,0,0,.1),0 2px 15px 0 rgba(0,0,0,.05);display:-ms-flexbox;display:flex;-ms-flex-pack:justify;justify-content:space-between;max-height:800px;overflow:hidden;font-family:sans-serif;cursor:pointer;direction:ltr}
.Toastify__toast--rtl{direction:rtl}
.Toastify__toast--default{background:#fff;color:#aaa}
.Toastify__toast--info{background:#3498db}
.Toastify__toast--success{background:#07bc0c}
.Toastify__toast--warning{background:#f1c40f}
.Toastify__toast--error{background:#e74c3c}
.Toastify__toast-body{margin:auto 0;-ms-flex:1;flex:1;font-size:.875rem;}
@media only screen and (max-width:480px){
	.Toastify__toast{margin-bottom:0}
}
.Toastify__close-button{color:#fff;font-weight:700;font-size:14px;background:transparent;outline:none;border:none;padding:0;cursor:pointer;opacity:.7;transition:.3s ease;-ms-flex-item-align:start;align-self:flex-start}
.Toastify__close-button--default{color:#000;opacity:.3}
.Toastify__close-button:focus,.Toastify__close-button:hover{opacity:1}
@keyframes Toastify__trackProgress{
	0%{transform:scaleX(1)}
	to{transform:scaleX(0)}
}
.Toastify__progress-bar{position:absolute;bottom:0;left:0;width:100%;height:3px;z-index:9999;opacity:.7;background-color:rgba(0,0,0,.2);transform-origin:left}
.Toastify__progress-bar--animated{animation:Toastify__trackProgress linear 1 forwards}
.Toastify__progress-bar--controlled{transition:transform .2s}
.Toastify__progress-bar--rtl{right:0;left:auto;transform-origin:right}
.Toastify__progress-bar--default{background:linear-gradient(90deg,#4cd964,#5ac8fa,#007aff,#34aadc,#5856d6,#ff2d55)}
@keyframes Toastify__bounceInRight{
	0%,60%,75%,90%,to{animation-timing-function:cubic-bezier(.215,.61,.355,1)}
	0%{opacity:0;transform:translate3d(3000px,0,0)}
	60%{opacity:1;transform:translate3d(-25px,0,0)}
	75%{transform:translate3d(10px,0,0)}
	90%{transform:translate3d(-5px,0,0)}
	to{transform:none}
}
@keyframes Toastify__bounceOutRight{
	20%{opacity:1;transform:translate3d(-20px,0,0)}
	to{opacity:0;transform:translate3d(2000px,0,0)}
}
@keyframes Toastify__bounceInLeft{
	0%,60%,75%,90%,to{animation-timing-function:cubic-bezier(.215,.61,.355,1)}
	0%{opacity:0;transform:translate3d(-3000px,0,0)}
	60%{opacity:1;transform:translate3d(25px,0,0)}
	75%{transform:translate3d(-10px,0,0)}
	90%{transform:translate3d(5px,0,0)}
	to{transform:none}
}
@keyframes Toastify__bounceOutLeft{
	20%{opacity:1;transform:translate3d(20px,0,0)}
	to{opacity:0;transform:translate3d(-2000px,0,0)}
}
@keyframes Toastify__bounceInUp{
	0%,60%,75%,90%,to{animation-timing-function:cubic-bezier(.215,.61,.355,1)}
	0%{opacity:0;transform:translate3d(0,3000px,0)}
	60%{opacity:1;transform:translate3d(0,-20px,0)}
	75%{transform:translate3d(0,10px,0)}
	90%{transform:translate3d(0,-5px,0)}
	to{transform:translateZ(0)}
}
@keyframes Toastify__bounceOutUp{
	20%{transform:translate3d(0,-10px,0)}
	40%,45%{opacity:1;transform:translate3d(0,20px,0)}
	to{opacity:0;transform:translate3d(0,-2000px,0)}
}
@keyframes Toastify__bounceInDown{
	0%,60%,75%,90%,to{animation-timing-function:cubic-bezier(.215,.61,.355,1)}
	0%{opacity:0;transform:translate3d(0,-3000px,0)}
	60%{opacity:1;transform:translate3d(0,25px,0)}
	75%{transform:translate3d(0,-10px,0)}
	90%{transform:translate3d(0,5px,0)}
	to{transform:none}
}
@keyframes Toastify__bounceOutDown{
	20%{transform:translate3d(0,10px,0)}
	40%,45%{opacity:1;transform:translate3d(0,-20px,0)}
	to{opacity:0;transform:translate3d(0,2000px,0)}
}
.Toastify__bounce-enter--bottom-left,.Toastify__bounce-enter--top-left{animation-name:Toastify__bounceInLeft}
.Toastify__bounce-enter--bottom-right,.Toastify__bounce-enter--top-right{animation-name:Toastify__bounceInRight}
.Toastify__bounce-enter--top-center{animation-name:Toastify__bounceInDown}
.Toastify__bounce-enter--bottom-center{animation-name:Toastify__bounceInUp}
.Toastify__bounce-exit--bottom-left,.Toastify__bounce-exit--top-left{animation-name:Toastify__bounceOutLeft}
.Toastify__bounce-exit--bottom-right,.Toastify__bounce-exit--top-right{animation-name:Toastify__bounceOutRight}
.Toastify__bounce-exit--top-center{animation-name:Toastify__bounceOutUp}
.Toastify__bounce-exit--bottom-center{animation-name:Toastify__bounceOutDown}
@keyframes Toastify__zoomIn{
	0%{opacity:0;transform:scale3d(.3,.3,.3)}
	50%{opacity:1}
}
@keyframes Toastify__zoomOut{
	0%{opacity:1}
	50%{opacity:0;transform:scale3d(.3,.3,.3)}
	to{opacity:0}
}
.Toastify__zoom-enter{animation-name:Toastify__zoomIn}
.Toastify__zoom-exit{animation-name:Toastify__zoomOut}
@keyframes Toastify__flipIn{
	0%{transform:perspective(400px) rotateX(90deg);animation-timing-function:ease-in;opacity:0}
	40%{transform:perspective(400px) rotateX(-20deg);animation-timing-function:ease-in}
	60%{transform:perspective(400px) rotateX(10deg);opacity:1}
	80%{transform:perspective(400px) rotateX(-5deg)}
	to{transform:perspective(400px)}
}
@keyframes Toastify__flipOut{
	0%{transform:perspective(400px)}
	30%{transform:perspective(400px) rotateX(-20deg);opacity:1}
	to{transform:perspective(400px) rotateX(90deg);opacity:0}
}
.Toastify__flip-enter{animation-name:Toastify__flipIn}
.Toastify__flip-exit{animation-name:Toastify__flipOut}
@keyframes Toastify__slideInRight{
	0%{transform:translate3d(110%,0,0);visibility:visible}
	to{transform:translateZ(0)}
}
@keyframes Toastify__slideInLeft{
	0%{transform:translate3d(-110%,0,0);visibility:visible}
	to{transform:translateZ(0)}
}
@keyframes Toastify__slideInUp{
	0%{transform:translate3d(0,110%,0);visibility:visible}
	to{transform:translateZ(0)}
}
@keyframes Toastify__slideInDown{
	0%{transform:translate3d(0,-110%,0);visibility:visible}
	to{transform:translateZ(0)}
}
@keyframes Toastify__slideOutRight{
	0%{transform:translateZ(0)}
	to{visibility:hidden;transform:translate3d(110%,0,0)}
}
@keyframes Toastify__slideOutLeft{
	0%{transform:translateZ(0)}
	to{visibility:hidden;transform:translate3d(-110%,0,0)}
}
@keyframes Toastify__slideOutDown{
	0%{transform:translateZ(0)}
	to{visibility:hidden;transform:translate3d(0,500px,0)}
}
@keyframes Toastify__slideOutUp{
	0%{transform:translateZ(0)}
	to{visibility:hidden;transform:translate3d(0,-500px,0)}
}
.Toastify__slide-enter--bottom-left,.Toastify__slide-enter--top-left{animation-name:Toastify__slideInLeft}
.Toastify__slide-enter--bottom-right,.Toastify__slide-enter--top-right{animation-name:Toastify__slideInRight}
.Toastify__slide-enter--top-center{animation-name:Toastify__slideInDown}
.Toastify__slide-enter--bottom-center{animation-name:Toastify__slideInUp}
.Toastify__slide-exit--bottom-left,.Toastify__slide-exit--top-left{animation-name:Toastify__slideOutLeft}
.Toastify__slide-exit--bottom-right,.Toastify__slide-exit--top-right{animation-name:Toastify__slideOutRight}
.Toastify__slide-exit--top-center{animation-name:Toastify__slideOutUp}
.Toastify__slide-exit--bottom-center{animation-name:Toastify__slideOutDown}